<!DOCTYPE html>
<html lang="en">
    <!--IM HEAD werden allgemeine Einstellungen zur Webseite festgelegt-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Der title erscheint im Browser-TAB-->
    <title>Document</title>
</head>
<!--IM Body steht der INhalt der Webseite, also alles, was im Browser angezwigt wird.-->
<body>
    <!--Überschrift der größe 1-->
    <h1>Über uns</h1>
    <ul>
        <li>E-Mail: support@N27.de</li>
        <li>Anschrift: Josefstraße 10 Borken</li>
        <li>Sitz</li>
        <li>Telefonnummer für Support</li>
        <li>Bankleitzahl</li>
        <li>Unternehmensname und Rechtsform</li>
        <li>Disclaimer</li>
    </ul>

</body>
</html>
